* {
  margin: 0;
}

body {
  background-color: #ddd;
  color: #222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-bar {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0, 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fffe;
}

.logo-image {
  border-radius: 50%;
  width: 45%;
  height: 45%;
}

.logo {
  flex: 0.2;
  margin-left: 5%;
}

.links {
  flex: 0.8;
  text-align: center;
  font-size: 20px;
}

a {
  text-decoration: none;
  margin-right: 2%;
  color: black;
  border-radius: 5px;
}

a:hover {
  background-color: #ff8e3f;
}

#header {
  display: flex;
  margin-top: 10%;
  margin-bottom: 1%;
  align-items: center;
  flex-direction: column;
}

#img {
  width: 45%;
  height: 300px;
  display: inline;
  margin-left: 3%;
  margin-top: -0.1%;
  padding-top: 0%;
}

iframe {
  padding: 10px;
  width: 60%;
  margin-left: 20%;
}

h1 {
  text-align: center;
  color: #ff8e3f;
  font-size: 40px;
}

h3 {
  padding: 10px;
}

section {
  margin: 100px, 0;
}

.order-card-cantiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.order_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5px, 0;
  border-radius: 10px;
}

.food_image {
  border-radius: 12px;
}

.title {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  background-color: #ff8e3f;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px, 30px;
  margin: 20px;
  font-size: 20px;
  border-radius: 50px;
  color: white;
}

button:hover {
  background-color: #5d1;
  transition: background-color 0.15s ease-in;
}

.phone-logo1 {
  margin: 10px 20px;
  border-radius: 50%;
  width: 50px;
  position: absolute;
}

input[type=email] {
  border: 1px solid #222;
  margin-left: 8%;
  margin-top: 10px;
  padding: 7px;
  width: 80%;
  font-size: 20px;
  background-color: #fffe;
  display: flex;
}

input[type=number] {
  border: 1px solid #222;
  margin-left: 8%;
  margin-top: 10px;
  padding: 7px;
  width: 80%;
  font-size: 20px;
  background-color: #fffe;
  display: flex;
}

input[type=submit] {
  background-color: #ff8e3f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 45%;
}

label {
  margin: 8%;
  padding-top: 2%;
}

.contact-number {
  margin-left: 2%;
}

#dilvary {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.delivary {
  border-radius: 30px;
  margin-left: 38%;
  margin-bottom: 3%;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 45px;
  }
}

span {
  padding: 1%;
  margin: 2%;
  text-shadow: #222;
  border: 5px solid #4444;
}
